*.pyc
*.npz
*.png
**/__pychache__/**
data/
*.yaml
*.json
*.npz
eduroam-linux-de.py
cuda_12.5.0_555.42.02_linux.run
labelled_objects.json
0_meshes/0_calib/cube75mm_exact/cube75mm_exact.mtl
0_meshes/0_calib/cube75mm_exact/cube75mm_exact.obj
0_meshes/0_calib/dome75mm_exact/dome75mm_exact.STL
0_meshes/0_calib/cube75mm_exact/cube75mm_exact.STL
0_meshes/0_calib/dome75mm_exact/dome75mm_exact.mtl
0_meshes/0_calib/dome75mm_exact/dome75mm_exact.obj
0_meshes/0_calib/pyramid75mm_exact/pyramid75mm_exact.mtl
0_meshes/0_calib/pyramid75mm_exact/pyramid75mm_exact.obj
0_meshes/0_calib/pyramid75mm_exact/pyramid75mm_exact.STL
0_meshes/buckle_socket/buckle_socket.mtl
0_meshes/battery_holder/battery_holder.jpg
0_meshes/battery_holder/battery_holder.mtl
0_meshes/battery_holder/battery_holder.obj
0_meshes/buckle_plug/buckle_plug.jpg
0_meshes/buckle_plug/buckle_plug.mtl
labelled_objects.json
0_meshes/buckle_plug/buckle_plug.obj
0_meshes/buckle_socket/buckle_socket.jpg
0_meshes/buckle_socket/buckle_socket.obj
0_meshes/chew_toy_big/chew_toy_big.jpg
0_meshes/chew_toy_big/chew_toy_big.mtl
0_meshes/chew_toy_big/chew_toy_big.obj
0_meshes/cpsglue_big/cpsglue_big.jpg
0_meshes/cpsglue_big/cpsglue_big.mtl
0_meshes/cpsglue_big/cpsglue_big.obj
output/2_scene_reconstruction.py
output/3a_scene_labelling.py
labelled_objects.json
labelled_objects.json
labelled_objects.json
evaluation_results.txt
labelled_objects.json
